{% extends "blog_game/base_blog_game.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}


{% block content %}

<div class="container">
    <h1 class="my-4 text-center">Viki.Game.RiI</h1>
    <h2 class="my-4 text-center">Resistance is inevitable</h2>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="media/{{ post.image }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text">{{ post.information_card|safe|truncatechars:150 }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        </div>
                        <ul>
                            <li style="list-style: none"><small class="text-muted">Опубликовано: {{ post.created_at }}</small></li>
                            <li style="list-style: none"><small class="text-muted">Обнавлено: {{ post.updated_at }}</small></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}