{% extends "blog_game/base_blog_game.html" %}
{% load static %}
{% block title%}Страница поста{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!--    ЭТО ЛЕВАЯ КОЛОНКА КОНТЕНТА ПОСТА -->
        <div class="col-lg-8">
            <!--    ЭТО ХЛЕБНЫЕ КРОШКИ -->
            <nav aria-label="breadcrumb" class="my-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                </ol>
            </nav>
            <!--    ЭТО ТЕЛО ПОСТА -->
            <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
            <hr>
            <h6>Краткая информация:</h6>
            <p class="lead">{{ post.information_card|safe }}</p>
            <hr>
            <h6>Описание:</h6>
            <p class="lead">{{ post.description|safe }}</p>
            <div class="d-flex justify-content-end">
                {% for tag in post.tag.all %}
                {% if tag %}
                <a href="{% url 'tag' tag.slug %}" class="badge text-bg-info me-1">#{{ tag }}</a>
                {% endif %}
                {% endfor %}
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <div class="lead">Автор: {{ post.author }}</div>
                <ul>
                    <div>Опубликовано: {{ post.created_at }}</div>
                    <div>Обнавлено: {{ post.updated_at }}</div>
                </ul>
            </div>
            <hr>
            <!--    ЭТО КОМПОНЕНТ С КОММЕНТАРИЯМИ -->

            {% block comment %}
            {% include "inc/_comments.html" %}
            {% endblock %}
        </div>
        <!--    ЭТО ПРАВАЯ КОЛОНКА -->
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Тег</h5>
                <div class="card-body">
                    <div class="d-flex flex-wrap">
                        {% for tag in post.tag.all %}
                        {% if tag %}
                        <a href="{% url 'tag' tag.slug %}" class="m-2 h5 text-primary">#{{ tag }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card my-4">
                <h5 class="card-header">Последние статьи</h5>
                {% for p in lasts_posts %}
                <div class="card-body">
                    <h5 class="card-title">{{ p.title }}</h5>
                    <p class="card-text">{{ p.information_card|safe }}</p>
                    <a href="{% url 'post_detail' slug=p.url %}" class="card-link">Ссылка на статью</a>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block pagination %}
{% endblock %}