{% extends "blog_game/base_blog_game.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block carusel %}
<section class="my-carousel">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-color: #343a40!important">
                <div class="carousel-caption d-none d-md-block">
                    <form action="{% url 'search' %}" method="get" class="my-2 my-lg-0">
                        <input name="q" type="text" class="form-control" placeholder="Поиск" aria-label="Поиск">
                        <button class="btn btn-outline-success mt-3" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="my-post-detail">
    <div class="container">
        <div class="row">
            <!--    ЭТО ЛЕВАЯ КОЛОНКА КОНТЕНТА ПОСТА -->
            <div class="col-lg-12">
                <!--    ЭТО ХЛЕБНЫЕ КРОШКИ -->
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Поиск</li>
                    </ol>
                </nav>
                <p class="lead">Найдено записей: {{count }}</p>
                {% for post in results %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if post.image %}
                        <img src="media/{{ post.image }}" alt="" class="card-img-top">
                        {% else %}
                        <img src="https://yobte.ru/uploads/posts/2019-11/nindzja-65-foto-60.jpg" alt="" class="card-img-top">
                        {% endif %}
                        <div class="card-body">
                             <a href="{% url 'post_detail' slug=post.url %}"><h4>{{ post.title }}</h4></a>
                            <p class="card-text">{{ post.information_card|safe|truncatechars:150 }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{{ post.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                                </div>
                                <ul>
                                    <li style="list-style: none"><small class="text-muted">Опубликовано: {{post.created_at }}</small></li>
                                    <li style="list-style: none"><small class="text-muted">Обнавлено: {{ post.updated_at }}</small></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block pagination %}
<section class="my-pagination">
  <nav aria-label="Paginate me">
    <ul class="pagination justify-content-center">
        {% if results.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ results.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" tabindex="-1">Предыдущая</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Предыдущая</a>
            </li>
        {% endif %}
        {% for i in results.paginator.page_range %}
            {% if i == results.number %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if results.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ results.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Следующая</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Следующая</a>
            </li>
        {% endif %}
    </ul>
  </nav>
</section>
{% endblock %}